assistancefund.top {
        tls hyperliquid.updates@gmail.com
        reverse_proxy / http://fastapi:8000 {
                transport http
        }
				root * /project_exchange/static
				file_server
}
