assistancefund.top {
        tls hyperliquid.updates@gmail.com
        reverse_proxy / http://fastapi:8000 {
                transport http
        }
				handle_path /static/* {
					root * /project_exchange/app/static
					file_server
			}
}
