body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #1e1e2f;
  color: #ffffff;
}

header {
  background-color: #282846;
  padding: 1rem;
  text-align: center;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

nav {
  margin-top: 1rem;
}

.link {
  color: #8a8acb;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.link:hover {
  color: #ffffff;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 2rem;
}

@media (max-width: 600px) {
  .dashboard {
    padding: 5px;
  }
}

.card {
  background-color: #282846;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .card {
    padding: 0;
  }
}

.card h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

footer {
  background-color: #1b1b2e;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

footer p {
  color: #8a8acb;
  font-size: 0.9rem;
}

.tabs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  background: #282846;
  border: 2px solid #8a8acb;
  border-radius: 5px;
  color: #8a8acb;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabs button:hover {
  background: #1b1b2e;
  color: #ffffff;
  border-color: #ffffff;
}

.tabs button.active {
  background: #007bff;
  color: white;
  border-color: #0056b3;
}

.tab-content {
  display: none;
  background: #282846;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tab-content.active {
  display: block;
}

.summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20%;
  margin: 25px;
}

.summary-card {
  display: flex;
  flex-direction: column; /* Всі елементи в card залишаються вертикально */
  background-color: #282846;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.summary-card-header {
  display: flex;
  justify-content: space-between; /* Заголовок і span розташовані по краях */
  align-items: center; /* Вертикальне вирівнювання по центру */
  width: 100%;
}

.summary-card h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0; /* Забираємо зайві відступи */
}

.summary-card span {
  font-weight: 500;
  padding: 2px 8px;
  border-radius: 12px;
  background: rgb(138 138 203 / 10%);
}

.summary-card p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 10px 0 0; /* Відступ зверху */
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.filters label {
  font-weight: 500;
}

.filters select {
  padding: 5px 10px;
  background-color: #282846;
  color: #ffffff;
  border: 1px solid #8a8acb;
  border-radius: 5px;
  font-size: 1rem;
}

filters select:focus {
  outline: none;
  border-color: #007bff;
}

#TWAPs-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#TWAPs-table th, #TWAPs-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #8a8acb;
}

#TWAPs-table th {
  background-color: #1b1b2e;
  color: #ffffff;
  font-weight: 600;
}

#TWAPs-table tbody tr:hover {
  background-color: #1b1b2e;
}

.buy-color{
  color: #00ff00;
}

.sell-color{
  color: #ff0000;
}

@media (max-width: 600px) {
  .dashboard {
    padding: 5px;
  }

  .card {
    padding: 0;
  }
}
.footer {
  background-color: #1b1b2e;
  color: #ffffff;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 2rem;
}

.footer-container {
  max-width: 800px;
  margin: auto;
  text-align: left;
}

.footer h2, .footer h3 {
  color: #8a8acb;
  margin-bottom: 10px;
}

.footer p {
  font-size: 1rem;
  line-height: 1.6;
  color: #d1d1e0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  font-size: 1rem;
  margin: 5px 0;
  padding-left: 20px;
  position: relative;
}

.footer ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #8a8acb;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .footer-container {
    padding: 0 10px;
  }
}
